@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  background-color: #282828;
  color: #999;
  font-family: 'Roboto', sans-serif;
  --color-light: #ccc;
}

#output {
  padding: 20px;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin-bottom: 12px;
}

p {
  margin: 0;
}

div.square {
  --size: 80px;
  min-width: var(--size);
  width: var(--size);
  height: var(--size);
  margin-right: 6px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
div.square > img {
  height: 100%;
}

input {
  outline: none;
  border: none;
  border-radius: 0;
  font: inherit;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 5px;
  opacity: 0.5;
}
input:focus {
  opacity: 1;
}
input::placeholder {
  color: white;
}
input:focus::placeholder {
  opacity: 0.5;
}

button {
  border: 2px solid var(--color-light);
  color: var(--color-light);
  background-color: #151515;
  font-family: inherit;
  font-size: 16px;
  border-radius: 8px;
  padding: 6px 8px;
  cursor: pointer;
  outline: none;
}
button:hover {
  border-color: white;
  color: white;
}

.grid {
  display: grid;
  gap: 2px;
  margin: 20px 0;
}
.grid.big {
  grid-template-columns: repeat(auto-fit, [col-start] minmax(350px, 1fr) [col-end]);
}

.grid.big > * {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.grid.big > *:hover {
  transform: scale(0.98);
  transition-duration: 0.1s;
}
.grid.big > *:active {
  transform: scale(0.95);
}

li.playlist {
  overflow: hidden;
  height: var(--size);
  user-select: none;
}
li.playlist > .square {
  border: 1px solid #fff;
}

li.playlist.ignored {
  opacity: 0.35;
}

ul {
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
}

li {
  background-color: #151515;
  display: flex;
  flex-direction: row;
  padding: 6px;
  user-select: none;
}
li:hover {
  background-color: #222 !important;
}
li {
  --size: 80px;
}

.meta {
  display: flex;
  flex-direction: column;
}
.meta h3 {
  margin: 0;
  font-weight: normal;
  color: white;
}

.slim {
  flex-direction: row;
}
.meta.slim {
  width: 100%;
}
.slim > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.song.slim {
  background-color: #1d1d1d;
}
.song.slim h3 {
  font-size: 16px;
  flex: none;
  width: auto;
}
.song.slim span::before {
  content: '-';
  margin: 0 5px;
}
.song.slim > .matches {
  display: none;
}

.song.slim > .meta {
  width: 100%;
}
.song.slim > .square {
  --size: 32px;
}

.matches {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.matches:empty {
  display: none;
}

.matches > tr {
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-right: 4px;
}
.matches > tr.selected {
  background-color: #353535;
  color: white;
  text-decoration: underline;
}
.matches > tr:hover {
  background-color: #444;
  color: white;
}

.matches .square {
  --size: 20px;
  vertical-align: bottom;
}

.matches td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: none;
}
.matches td:nth-child(n+3) {
  padding-left: 20px;
}
.matches td:nth-child(2) {
  width: 30%;
  color: white;
}
.matches td:nth-child(3) {
  width: 50%;
  flex: auto;
}
.matches td:last-child {
  width: 120px;
  text-align: end;
  padding: 0;
}

.matches > .search {
  width: 100%;
  background: url('search.svg') no-repeat scroll 0px 4px;
  padding-left: 15px;
}

.matches > .status {
  display: grid;
  height: 100%;
  align-items: center;
  font-weight: bold;
}
.matches > tr ~ .status {
  display: none;
}

li.slim .source-duration {
  display: none;
}

.song > .meta {
  width: 35%;
}

.hidden {
  display: none;
}