@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  background-color: #333;
  color: #999;
  font-family: 'Roboto', sans-serif;
}

#output {
  padding: 20px;
  text-align: center;
}

img.square {
  --size: 80px;
  min-width: var(--size);
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  margin-right: 6px;
}

ul {
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

li {
  background-color: #151515;
  display: flex;
  flex-direction: row;
  padding: 6px;
  cursor: default;
}
li:hover {
  background-color: #222;
}
li > img.square {
  --size: 80px;
}

.meta {
  display: flex;
  flex-direction: column;
}
.meta h3 {
  margin: 0;
  font-weight: normal;
  color: white;
}

.slim {
  flex-direction: row;
}
.meta.slim {
  width: 100%;
}
.slim > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.song.slim {
  background-color: #1d1d1d;
}
.song.slim h3 {
  font-size: 16px;
  flex: none;
  width: auto;
}
.song.slim span::before {
  content: '-';
  margin: 0 5px;
}
.song.slim > .matches {
  display: none;
}

.song.slim > .meta {
  width: 100%;
}
.song.slim > img {
  min-width: 32px;
  width: 32px;
  height: 32px;
}

.matches {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.matches:empty {
  display: none;
}

.matches > tr {
  align-items: center;
  display: flex;
  cursor: pointer;
  transition-duration: 0.1s;
  padding-right: 4px;
}
.matches > tr:hover {
  background-color: #444;
  color: white;
}

.matches img {
  --size: 20px;
  vertical-align: bottom;
}

.matches td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: none;
}
.matches td:nth-child(n+3) {
  padding-left: 20px;
}
.matches td:nth-child(2) {
  width: 30%;
  color: white;
}
.matches td:nth-child(3) {
  width: 50%;
  flex: auto;
}
.matches td:last-child {
  width: 120px;
  text-align: end;
  padding: 0;
}

li.slim .source-duration {
  display: none;
}

.song > .meta {
  width: 35%;
}

li:not(:first-child) {
  border-top: 1px solid #444;
}

.hidden {
  display: none;
}